* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background:#f5f5f5 ;
}
header {
    background: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
   display: flex;
   align-items: center;
   margin-right: 0.5rem;
}
nav a {
   margin-left: 1.5rem;
   text-decoration: none;
    color: #333;
    font-weight: 500;
}
nav a:hover {
    color: #007acc;
}
.mimi {
    background: #003366;
    color: #fff;
    text-align: center;
    padding: 3rem 1rem;
}
.mimi h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.mimi p {
    margin-bottom: 1,5rem;
}
.mimi .btn {
    background: #38b2ac;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}
.mimi .btn:hover{
    background: #319795;
}
.end {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    background: #fff;
    flex-wrap: wrap;
}
.row {
    text-align: center;
    max-width: 200px;
    margin: 1rem;
}
.row .icon{
    font-size: 2rem;
    margin-bottom: 0,5rem;
}
.row h3 {
    margin-bottom: 0.25rem;
}
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin-left: 0,75rem;
    }
}
    
